<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>

    <div class="content">
        <h2>All Employees</h2>

        <% if (employees.length > 0) { %>
            <% employees.forEach(employee => { %>
                <a class="single" href="/employees#">
                    <h3 class="title"><%= employee.name %> <%= employee.surname %></h3>
                    <p class="department"><%= employee.department %></p>
                </a>
            <% }) %>
        <% } else { %>
            <p>No employees yet!</p>
        <% } %>
    </div>

    <%- include("./partials/footer.ejs") %>
</body>
</html>